[Desktop Entry]
Encoding=UTF-8
Name=Bitmark
Comment=Bitmark P2P Cryptocurrency
Comment[fr]=Bitmark, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitmark, eşten eşe kriptografik sanal para birimi
Exec=bitmark-qt %u
Terminal=false
Type=Application
Icon=bitmark128
MimeType=x-scheme-handler/bitmark;
Categories=Office;Finance;
